/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .swiper {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .swiper:hover{
    .swiper-button-next{
    display: block !important;
    }
    .swiper-button-prev{
      display: block !important;
      }
  }

.swiper-button-next {
  display: none !important;
  background-color: white;
  width: 28px !important;
  height: 28px !important;
  background-image: url('/next.svg') !important;
  border-radius: 50%;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
 
}

.swiper-button-next::after{
  content: '' !important
}

.swiper-button-prev::after{
  content: '' !important
}

.swiper-button-prev {
  display: none !important;
  background-color: white;
  width: 28px !important;
  height: 28px !important;
  /* background-image: url('assets/left.svg') !important; */
  /* background-image: url('<%= asset_path("next.svg") %>') !important; */
  background-image: url('/left.svg') !important;
  border-radius: 50%;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}