#stripe-form {
    font-family: inherit;
    margin-top: 24px;
}

#stripe-form label {
    font-family: inherit;
    margin-bottom: 24px;
}

#stripe-form #card-element {
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 16px;
}

#stripe-form input[type="submit"] {
    background-color: rgb(225, 90, 95);
    color: white;
    margin-top: 24px;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500; /* Use numeric values for font-weight in CSS */
}
